In [1]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452

In [2]:

from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [3]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4393

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [4]:
spurs = [team for team in nba_teams
         if team['full_name'] == 'San Antonio Spurs'][0]
spurs

{'id': 1610612759,
 'full_name': 'San Antonio Spurs',
 'abbreviation': 'SAS',
 'nickname': 'Spurs',
 'city': 'San Antonio',
 'state': 'Texas',
 'year_founded': 1976}

In [5]:

big_fundamental = [player for player in nba_players
                   if player['full_name'] == 'Tim Duncan'][0]
big_fundamental

{'id': 1495,
 'full_name': 'Tim Duncan',
 'first_name': 'Tim',
 'last_name': 'Duncan',
 'is_active': False}

In [3]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
rockets = [team for team in nba_teams if team['abbreviation'] == 'HOU'][0]
rockets_id = rockets['id']
rockets_id

1610612745

In [4]:

from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=rockets_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612745,HOU,Houston Rockets,1521900079,2019-07-13,HOU vs. DEN,W,200,105,...,0.846,12,17,29,24,5,2,11,11,13.8
1,22019,1610612745,HOU,Houston Rockets,1521900062,2019-07-11,HOU vs. UTA,W,199,87,...,0.643,7,23,30,21,12,2,13,14,12.8
2,22019,1610612745,HOU,Houston Rockets,1521900047,2019-07-09,HOU vs. SAC,W,200,94,...,0.611,10,29,39,17,12,3,16,22,-6.2
3,22019,1610612745,HOU,Houston Rockets,1521900028,2019-07-07,HOU @ POR,L,203,87,...,0.850,9,15,24,9,14,4,16,20,-10.0
4,22019,1610612745,HOU,Houston Rockets,1521900017,2019-07-06,HOU vs. DAL,L,201,81,...,0.632,11,22,33,16,8,5,14,22,-30.4

In [5]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [6]:
games.describe()

,TEAM_ID,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
count,3.319000e+03,3319.00000,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,3280.000000,3319.000000,...,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,3319.000000,2115.000000
mean,1.610613e+09,240.50226,102.526665,38.155469,82.896053,0.460562,6.841820,19.503766,0.332088,19.373908,...,0.750193,12.106357,31.168726,43.275083,22.665562,8.053329,5.269660,15.244652,21.655619,2.272624
std,0.000000e+00,12.63571,13.703981,6.135298,8.906472,0.057525,4.790171,11.771377,0.151344,6.511060,...,0.097581,4.366134,5.380840,6.774590,5.803877,3.059366,2.822008,4.338223,4.728983,13.383040
min,1.610613e+09,0.00000,66.000000,21.000000,54.000000,0.286000,0.000000,0.000000,0.000000,3.000000,...,0.273000,1.000000,15.000000,19.000000,7.000000,0.000000,0.000000,4.000000,7.000000,-41.000000
25%,1.610613e+09,240.00000,93.000000,34.000000,77.000000,0.420500,3.000000,12.000000,0.250000,15.000000,...,0.688500,9.000000,28.000000,39.000000,19.000000,6.000000,3.000000,12.000000,18.000000,-7.000000
50%,1.610613e+09,240.00000,102.000000,38.000000,83.000000,0.459000,6.000000,19.000000,0.333000,19.000000,...,0.750000,12.000000,31.000000,43.000000,22.000000,8.000000,5.000000,15.000000,21.000000,3.000000
75%,1.610613e+09,240.00000,112.000000,42.000000,88.000000,0.500000,10.000000,26.000000,0.421000,24.000000,...,0.818000,15.000000,35.000000,48.000000,26.000000,10.000000,7.000000,18.000000,25.000000,11.000000
max,1.610613e+09,315.00000,156.000000,64.000000,130.000000,0.685000,28.000000,70.000000,1.000000,46.000000,...,1.000000,35.000000,50.000000,77.000000,50.000000,21.000000,20.000000,34.000000,45.000000,62.000000

In [10]:
games.count()

SEASON_ID            3319
TEAM_ID              3319
TEAM_ABBREVIATION    3319
TEAM_NAME            3319
GAME_ID              3319
GAME_DATE            3319
MATCHUP              3319
WL                   3319
MIN                  3319
PTS                  3319
FGM                  3319
FGA                  3319
FG_PCT               3319
FG3M                 3319
FG3A                 3319
FG3_PCT              3280
FTM                  3319
FTA                  3319
FT_PCT               3319
OREB                 3319
DREB                 3319
REB                  3319
AST                  3319
STL                  3319
BLK                  3319
TOV                  3319
PF                   3319
PLUS_MINUS           2115
dtype: int64

In [7]:
# drop NA 
games=games.dropna()
#games_dropNA.count()

# count total matches
total_matches = games["WL"].count()
total_matches

2115

In [12]:
games.to_csv("output_rawData.csv",index=False)

In [9]:
FG_games=games.loc[:,["GAME_ID","MIN","WL","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT"]]
FG_games.head()

      GAME_ID  MIN WL  PTS  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT
0  1521900079  200  W  105   39   78   0.500    16    43    0.372
1  1521900062  199  W   87   32   74   0.432    14    41    0.341
2  1521900047  200  W   94   33   80   0.413    17    41    0.415
3  1521900028  203  L   87   29   75   0.387    12    39    0.308
4  1521900017  201  L   81   29   77   0.377    11    40    0.275

In [58]:
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1610612745,HOU,Houston Rockets,1521900079,2019-07-13,HOU vs. DEN,W,200,105,...,0.846,12,17,29,24,5,2,11,11,13.8
1,22019,1610612745,HOU,Houston Rockets,1521900062,2019-07-11,HOU vs. UTA,W,199,87,...,0.643,7,23,30,21,12,2,13,14,12.8
2,22019,1610612745,HOU,Houston Rockets,1521900047,2019-07-09,HOU vs. SAC,W,200,94,...,0.611,10,29,39,17,12,3,16,22,-6.2
3,22019,1610612745,HOU,Houston Rockets,1521900028,2019-07-07,HOU @ POR,L,203,87,...,0.850,9,15,24,9,14,4,16,20,-10.0
4,22019,1610612745,HOU,Houston Rockets,1521900017,2019-07-06,HOU vs. DAL,L,201,81,...,0.632,11,22,33,16,8,5,14,22,-30.4

In [10]:
# extract data for last season
start_season = "2018-10-1"
end_season   = "2019-06-15"


mask = (games["GAME_DATE"]<end_season) & (games["GAME_DATE"]>start_season)
tmp = games.loc[mask]

In [11]:
mask = tmp["SEASON_ID" ]== "22018"
last_season_data = tmp.loc[mask]

In [12]:
last_season_data.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
16,22018,1610612745,HOU,Houston Rockets,0021801218,2019-04-09,HOU @ OKC,L,239,111,...,0.850,9,33,42,18,7,7,11,21,-1.0
17,22018,1610612745,HOU,Houston Rockets,0021801200,2019-04-07,HOU vs. PHX,W,240,149,...,0.762,12,40,52,34,12,5,9,16,36.0
18,22018,1610612745,HOU,Houston Rockets,0021801184,2019-04-05,HOU vs. NYK,W,241,120,...,0.706,7,41,48,26,8,2,6,21,24.0
19,22018,1610612745,HOU,Houston Rockets,0021801176,2019-04-03,HOU @ LAC,W,239,135,...,0.793,12,36,48,22,6,7,16,29,32.0
20,22018,1610612745,HOU,Houston Rockets,0021801163,2019-04-02,HOU @ SAC,W,241,130,...,0.706,8,35,43,30,8,3,7,20,25.0

In [106]:
# count data to check NA
total_games= last_season_data["SEASON_ID"].count()
total_games
# look like there is no NA

82

In [14]:
# Drop NA, just in case 

last_season_data = last_season_data.dropna()
last_season_data.count()

SEASON_ID            82
TEAM_ID              82
TEAM_ABBREVIATION    82
TEAM_NAME            82
GAME_ID              82
GAME_DATE            82
MATCHUP              82
WL                   82
MIN                  82
PTS                  82
FGM                  82
FGA                  82
FG_PCT               82
FG3M                 82
FG3A                 82
FG3_PCT              82
FTM                  82
FTA                  82
FT_PCT               82
OREB                 82
DREB                 82
REB                  82
AST                  82
STL                  82
BLK                  82
TOV                  82
PF                   82
PLUS_MINUS           82
dtype: int64

In [98]:
last_season_data.to_csv("output_2018-2019_league_Data.csv",index=False)

In [103]:
#split win/loss stat

total_WL_groupby = last_season_data.groupby("WL").count()

total_WL =total_WL_groupby["SEASON_ID"]
total_WL

WL
L    29
W    53
Name: SEASON_ID, dtype: int64

In [108]:
total_WL_perc= total_WL/total_games

In [ ]:
# get perc away
tmp = last_season_data[]